configuration {
    modi:           "drun,run,window";
    font:           "JetBrainsMonoNL Nerd Font 10";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    display-drun:   " Apps";
    display-run:    " Run";
    display-window: " Windows";
    drun-display-format: "{name}";
}

@theme "~/.config/rofi/themes/catppuccin-mocha"
